<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Historie kontrol</title>
</head>

<body>
<div th:replace="layout :: site-menu"></div>

<h2>Historie kontrol</h2>
<h3>Seznam historie kontrol</h3>
<table>
    <tr>
        <th>Název kontroly</th>
    </tr>

    <tr th:each="checkHistory : ${checkHistory)">
        <td th:text="${checkHistory.status}">Onions</td>
        <td th:text="${checkHistory.sent}">Onions</td>
        <td th:text="${checkHistory.remark}">Onions</td>
        <td th:text="${#calendars.format(${checkHistory.dateOfSent},'dd MMMM yyyy')}">13 May 2011</td>
        <td th:text="${#calendars.format(${checkHistory.dateOfImpl},'dd MMMM yyyy')}">13 May 2011</td>
    </tr>
</table>

<form method="post" th:object="${checkHistoryForm}">
    <label for="status">status:</label>
    <input type="text" id="status" name="status" th:value="*{status}" />
    <span class="formError" th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Nevalidní status</span>

    <label for="sent">sent:</label>
    <input type="text" id="sent" name="sent" th:value="*{sent}" />
    <span class="formError" th:if="${#fields.hasErrors('sent')}" th:errors="*{sent}">Chybný status odeslání</span>

    <label for="remark">remark:</label>
    <input type="text" id="remark" name="remark" th:value="*{remark}" />
    <span class="formError" th:if="${#fields.hasErrors('remark')}" th:errors="*{remark}">Chybná poznámka</span>

    <label for="dateOfSent">dateOfSent:</label>
    <input type="text" id="dateOfSent" name="dateOfSent" th:value="*{dateOfSent}" />
    <span class="formError" th:if="${#fields.hasErrors('dateOfSent')}" th:errors="*{DateOfSent}">Chybný datum</span>

    <label for="dateOfSent">dateOfImpl:</label>
    <input type="text" id="dateOfImpl" name="dateOfImpl" th:value="*{dateOfImpl}" />
    <span class="formError" th:if="${#fields.hasErrors('dateOfImpl')}" th:errors="*{DateOfImpl}">Chybný datum</span>
    <br />

    <input type="submit" value="Uložit" />

</form>
</body>
</html>