<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head"></head>

<body class="hold-transition skin-blue fixed sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <header class="main-header" th:replace="layout :: site-header"></header>

    <aside class="main-sidebar" th:replace="layout :: site-menu"></aside>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Vítejte ve systému pro správu prodaných produktů
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Layout</a></li>
                <li class="active">Fixed</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="callout callout-info">
                <h4>Tip!</h4>

                <p>Add the fixed class to the body tag to get this layout. The fixed layout is your best option if your
                    sidebar
                    is bigger than your content because it prevents extra unwanted scrolling.</p>
            </div>
            <!-- Default box -->

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Správa prodaných produktů.</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="post" th:object="${productSoldForm}">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="serialNumber">Seriové číslo:</label>
                            <input type="text" class="form-control" id="serialNumber" name="serialNumber" th:value="*{serialNumber}" />
                            <span class="formError" th:if="${#fields.hasErrors('serialNumber')}"
                                  th:errors="*{serialNumber}">Chybně zadané seriové číslo.</span>
                        </div>
                        <div class="form-group">
                            <label for="dateOfSale">Datum prodeje: </label>
                            <input type="date" class="form-control" id="dateOfSale" name="dateOfSale" th:value="*{dateOfSale}" />
                            <span class="formError" th:if="${#fields.hasErrors('dateOfSale')}"
                                  th:errors="*{dateOfSale}">Neplatný datum prodeje.</span>
                        </div>
                        <div class="form-group">
                            <label for="customers">Zákazník</label>
                            <select id="customers" class="form-control" th:field="*{customers}">
                                <option value="">Vyberte</option>
                                <option th:each="p : ${customersatr}" th:value="${p.id}"  th:text="${p.name}"></option>
                            </select>
                            <span class="formError" th:if="${#fields.hasErrors('customers')}"
                                  th:errors="*{customers}">Neplatně uvedený zákazník.</span>
                        </div>
                        <div class="form-group">
                            <label for="products">Produkt:</label>
                            <select id="products" class="form-control" th:field="*{products}">
                                <option value="">Vyberte Produkt</option>
                                <option th:each="p : ${productsatr}" th:value="${p.id}"  th:text="${p.name}"></option>
                            </select>
                            <span class="formError" th:if="${#fields.hasErrors('products')}"
                                  th:errors="*{products}">Neplatně uvedený produkt.</span>
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Uložit</button>
                    </div>
                </form>
            </div>

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Hover Data Table</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Seriové číslo</th>
                            <th>Datum prodeje</th>
                            <th>Zákazník</th>
                            <th>Produkt</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="productSold : ${productsSold}">
                            <td th:text="${productSold.serialNumber}">Onions</td>
                            <td th:text="${#dates.format(productSold.dateOfSale, 'dd MMMMMM yyyy')}"></td>
                            <td th:text="${productSold.customer}">Onions</td>
                            <td th:text="${productSold.product}">Onions</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Seriové číslo</th>
                            <th>Datum prodeje</th>
                            <th>Zákazník</th>
                            <th>Produkt</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer" th:replace="layout :: site-footer"></footer>
</div>


<!-- page script -->
<script>
    $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>
</body>
</html>


