<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head"></head>

<body class="hold-transition skin-blue fixed sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <header class="main-header" th:replace="layout :: site-header"></header>

    <aside class="main-sidebar" th:replace="layout :: site-menu"></aside>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Vítejte ve systému pro správu prodaných produktů
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Layout</a></li>
                <li class="active">Fixed</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Quick Example</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="post" th:object="${checkForm}">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="name">Název: </label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Vložte název kontroly" th:value="*{name}" />
                            <span class="help-block" th:if="${#fields.hasErrors('name')}"
                                  th:errors="*{name}">Nevalidní jméno</span>
                        </div>
                        <div class="form-group">
                            <label for="price">Cena: </label>
                            <input type="number" class="form-control" id="price" name="price" placeholder="Vložte cenu kontroly" th:value="*{price}" />
                            <span class="help-block" th:if="${#fields.hasErrors('price')}"
                                  th:errors="*{price}">Invalid price</span>
                        </div>
                        <div class="form-group">
                            <label for="period">Perioda: </label>
                            <input type="text" class="form-control" id="period" name="period" placeholder="Vložte periodu kontroly" th:value="*{period}" />
                            <span class="help-block" th:if="${#fields.hasErrors('period')}" th:errors="*{period}">Invalid period</span>
                        </div>

                        <div class="form-group">
                            <label for="consequences">Důvody: </label>
                            <textarea id="consequences" name="consequences" class="form-control" rows="3" placeholder="Vložte důsledky nerespektování kontroly" th:value="*{consequences}"></textarea>
                            <span class="help-block" th:if="${#fields.hasErrors('consequences')}"
                                  th:errors="*{consequences}">Invalid consequences</span>
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Uložit</button>
                    </div>
                </form>
            </div>

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Hover Data Table</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Název</th>
                            <th>Cena</th>
                            <th>Perioda</th>
                            <th>Důvody</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="check : ${checks}">
                            <td th:text="${check.name}">Onions</td>
                            <td th:text="${check.price}">Onions</td>
                            <td th:text="${check.period}">Onions</td>
                            <td th:text="${check.consequences}">1</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Název</th>
                            <th>Cena</th>
                            <th>Perioda</th>
                            <th>Důvody</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer" th:replace="layout :: site-footer"></footer>
</div>


<!-- page script -->
<script>
    $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>
</body>
</html>

