<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="site-head">
    <meta charset="utf-8"/>
    <title>Správa prodaných produktů</title>
</head>

<body>

<div th:fragment="site-menu">
    <ul>
        <li><a th:href="@{/users/login.html}">Login</a></li>
        <li><a th:href="@{/users/register.html}">Registrace</a></li>
        <li><a th:href="@{/check}">Kontroly</a></li>
        <li><a th:href="@{/products}">Produkty</a></li>
        <li><a th:href="@{/productSold}">Prodané produkty</a></li>
        <li th:text="${session.name}" th:unless="${session == null}">[...]</li>
    </ul>
</div>



</body>
</html>

